{% extends 'base.html.twig' %}

{% block title %}Lythis{% endblock %}


{% block body %}
<div class="setImage">
</div>
<div class="flex container_name_username">
    <div class="home_name">
        <p> Morgan Watbled <p>
    </div>
    <div class="home_bar"></div>
    <div class="git_username"> @Lythis</div>
</div>


{% endblock %}
