{% extends 'base.html.twig' %}

{% block title %}Lythis{% endblock %}


{% block body %}
    <div class="setImage">
    </div>
    <div class="flex container_name_username">
        <div class="home_name">
            <p> Morgan Watbled <p>
        </div>
        <div class="home_bar"></div>
        <div class="git_username"> @Lythis</div>
    </div>
    <h2 class="dev_fullstack"> Developpeur FullStack </h2>
    <div class="Presentation"> 
        <h3 class="center second"> Qui suis je ? </h3>
        <p class="presentation_txt"> Je suis un étudiant en deuxième année de BTS SIO au lycée Saint Vincent à Senlis, j'étudie les languages de programmation tel que php/c#/python afin de pouvoir devneir développeur FullStack. <P>

{% endblock %}
