{% extends 'base.html.twig' %}

{% block title %}Lythis{% endblock %}


{% block body %}
    <div class="setImage">
    </div>
    <div class="flex container_name_username">
        <div class="home_name">
            <p> Morgan Watbled <p>
        </div>
        <div class="home_bar"></div>
        <div class="git_username"> @Lythis</div>
    </div>
    <h2 class="dev_fullstack"> Developpeur FullStack </h2>
    <div class="Presentation"> 
        <h2 class="center second"> Qui suis je ? </h2>
        <div class="title_bar"></div>
        <p class="presentation_txt"> Je suis actuellement un étudiant en deuxième année de BTS SIO au lycée Saint Vincent à Senlis, j'étudie les 
        languages de programmation tel que php/c#/python ainsi que des frameworks comme JQuery/Bootstrap/Symfony afin de pouvoir devneir développeur 
        FullStack. Pendant mes années d'études j'ai réalisé plusieurs projets qui sont visibles sur mon site. 
        <button class="btn_cv"> Accès à mon cv sous format Pdf </button>
    </div> 
    <div class="progression">
        <h2 class="center"> Ma progression </h2>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="year">2019</span>
                                        <span class="year">2020</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h3 class="title">BTS 1 SIO</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                    </p>
                            </div>
                        </div>
                            <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                    <span class="year">2020</span>
                                    <span class="year">2021</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h3 class="title">BTS 2 SIO</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. 
                                    Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="projet">
            <h2 class="center"> Mes projets </h2>
        


            
{% endblock %}
