body{
    font-family: 'Palatino, URW Palladio L, serif';
    scroll-behavior: smooth;
}
.home_name{
    font-size: 70px;
    
}

.home_bar{
    height:90px;
    width:2px;
    background-color:black;
    margin-top: -27px;
    margin-left: 5px;
 }
 
.flex{
    display: flex;
}

.git_username{
    font-size: 50px;
    margin-top: -20px;
    margin-left: 30px;
}

.container_name_username{
    padding-top: 20%;
    position: absolute;
    top: 5%;
    left: 32%;
}

.space_between{
    padding-left: 100%;
}

.space_navbar{
    margin-left: 8%;
}

.setImage{
    height: 900px;
    margin-top: -5%;
    background-image:  url("../images/computer.jpg");
    opacity: 0.5;
    background-size: cover;
}

.font_white{
    color: white;
}

.nav-item{
    font-size: 20px;
}

.dev_fullstack{
    font-size:40px;
    top:52%;
    left: 35%;
    position: absolute;
}

.second{
    margin-top: 3%;
}

.center{
    text-align: center;
}

.presentation_txt{
    margin-left: 27%;
    margin-right: 23%;
}

.scriptNav{
    background-color: black;
}

.navbar{
    position: fixed;
    margin-top: 5%;
    width: 100%;
}