<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.0.0-beta.2/dist/css/axentix.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light  ">
            <a class="navbar-brand font_white"  href="{{ path('main') }}">Lythis</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse space_navbar" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item space_between font_white">
                        <a class="nav-link" href="#">Presentation</a>
                    </li>
                    <li class="nav-item space_between font_white">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item space_between dropdown font_white">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Projet
                        </a>
                        <div class="dropdown-menu font_white" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item font_white" href="#">Action</a>
                            <a class="dropdown-item font_white" href="#">Another action</a>
                            <a class="dropdown-item font_white" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>


        
        {% block javascripts %}{% endblock %}
    </body>
</html>
